<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="/assets/logo.png">
  <ion-card *ngFor="let clinic of clinics">
    <ion-card-header>
      <h3>{{ clinic.name }}</h3>
    </ion-card-header>
    <ion-card-content>
      <address>
        {{ clinic.address }}<br/>
        {{ clinic.city }}, {{ clinic.state }} {{ clinic.zip }}<br>
        {{ getPhone(clinic.phone) }}
      </address>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="primary" (click)="call(clinic.phone)">
              <ion-icon name="call"></ion-icon> Call
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" color="primary" (click)="getDirections(clinic)">
              <ion-icon name="compass"></ion-icon> Directions
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- S.P.O.R.T.
PHYSICAL THERAPY CLINIC
328 Warner Dr, Suite 8
Lewiston, ID 83501

 Get Directions
Phone:	(208) 746-7573
Fax:	(208) 746-4519
 -->
</ion-content>
