h3, address {
    text-align: center;
}
ion-card {
    margin-bottom: 1.5rem;
}
ion-card-header {
    padding-bottom: 0;
}
ion-card-content {
    padding-top: 0;
}

ion-content {
    // --ion-background-color: red;
}