<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="exercises">
      <ion-icon name="body"></ion-icon>
      <ion-label>Exercises/Stretches</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="plan">
      <ion-icon name="document"></ion-icon>
      <ion-label>Treatment Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
